@inherits BaseControl

<div hidden=@_hidden class="selection">
    <label for="@control.Scope">@_label</label>
    <input id="@control.Scope" type="radio" placeholder="@_placeholder" />
    <p>@_description</p>
</div>

@code {

}

